{*<script type="text/html" id="hit-template" n:syntax="off">*}
    {*<article class="item">*}
        {*<div class="in">*}
            {*<a href="{{url}}">*}
                {*<div class="image">*}
                    {*<img src="{{image}}" alt="Obrázok produktu {{name}}" class="ima zoom"*}
                         {*data-zoom-image="/gallery/produkty/2128-0005435_box_p0101_500-1.jpg">*}
                {*</div>*}
                {*<header><h3>{{{_highlightResult.name.value}}}</h3></header>*}
            {*</a>*}
            {*<div class="line">*}
                {*<span class="price">{{price}} €</span>*}
                {*<a href="{{url}}" class="button">Detail</a>*}
            {*</div>*}
            {*<p class="availability"><span class="day0">skladom</span></p>*}
        {*</div>*}
    {*</article>*}
{*</script>*}